# Dépendances
node_modules/

# Variables d'environnement
.env
.env.*
!.env.example

# Prisma — fichiers générés
/generated/

# Build & compilation
dist/
build/
*.js.map
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# Tests
coverage/

# OS & éditeurs
.DS_Store
Thumbs.db
.vscode/
.idea/
